#nav > ul
{
	text-align: left;
}

#logo
{
	text-align: left;
}

#logo img
{
	width: 100%;
	height: auto;
}

#logo h1
{
	margin: 0.3em 0 0.5em 0;
	font-size: 38pt;
}

#logo header
{
	margin-left: 30px;
	padding-left: 0;
}

section.package header
{
	padding-top: 30px !important;
	margin-bottom: 0px;
}

section.package header p
{
	margin-bottom: 0;
}

section.package header p:first-letter
{
	text-transform: capitalize;
}

section.package header h2, section.package header h3
{
	font-family: 'Roboto Mono';
}

section.package header h3
{

	font-size: 28px;
	margin-bottom: 10px;
}

.command-command
{
	color: rgb(0,0,0);
}

.command-options-arguments
{
	padding-top: 0px !important;
}

.command-options-arguments table
{
	margin: 10px 0 0 0;
}

.command-options-arguments table td
{
	padding: 5px 15px;
}

.command-options-arguments table td:last-of-type:first-letter
{
	text-transform: capitalize;
}

.command-options-arguments table td.title
{
	padding: 5px 0px;
	font-weight: 400;
}