<!DOCTYPE HTML>
<!--
Linear by TEMPLATED
templated.co @templatedco
Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
	<title>Linear by TEMPLATED</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/assets/js/skel.min.js"></script>
	<script src="/assets/js/skel-panels.min.js"></script>
	<script src="/assets/js/asciinema-player.js"></script>
	<script src="/assets/js/init.js"></script>
	<link rel="stylesheet" href="/assets/css/asciinema-player.css" />
	<noscript>
		<link rel="stylesheet" href="/assets/css/skel-noscript.css" />
		<link rel="stylesheet" href="/assets/css/style.css" />
		<link rel="stylesheet" href="/assets/css/style-desktop.css" />
	</noscript>
</head>
<body>

	<!-- Header -->
	<div id="header">
		<div class="container">
			<!-- Logo -->
			<div id="logo">
				<img alt="Oh My Fish logo" src="/assets/images/logo.svg"/>
				<h1><a href="#">Oh My Fish!</a></h1>
			</div>
			<div id="demo">
				<div id="player-container"></div>
				<script>
				 	asciinema_player.core.CreatePlayer('player-container', '/assets/records/demo.json', { autoPlay: true, loop: true });
				</script>
			</div>
		</div>
	</div>
	<!-- Header -->
	{{ content }}
	
	<!-- Tweet -->
	<div id="tweet">
		<div class="container">
			<section>
				<blockquote>
					Oh My Fish is community-made, with packages maintained by developers like you, making easy to find packages that fit your taste and needs.
				</blockquote>
			</section>
		</div>
	</div>

	<!-- Main -->
	<div id="main">
		<div id="content" class="container">
			<div class="row">
				<input type="text" class="package-search" placeholder="Search for packages" />
			</div>

			<div class="row">
				<section class="row package">
					<span class="9u">
						<h2>Mauris vulputate dolor</h2>
						<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
					</span>
					<!-- <a class="1u fa fa-dropbox" href="#"></a> -->
					<a class="1u fa fa-terminal" href="#"><span>Prompt</span></a>
					<a class="1u fa fa-github" href="#"><span>Github</span></a>
				</section>
			</div>

		</div>
	</div>



<!-- Footer -->
<div id="footer">
	<div class="container">
		<section>
			<header>
				<h2>Get in touch</h2>
				<span class="byline">Join us in creating a framework for everyone</span>
			</header>
			<ul class="contact">
				<li><a href="#" class="fa fa-github"><span>Github</span></a></li>
				<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
				<li><a href="#" class="fa fa-slack"><span>Slack</span></a></li>
			</ul>
		</section>
	</div>
</div>

<!-- Copyright -->
<div id="copyright">
	<div class="container">
		Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
		Jekyll Template: <a href="http://cloudcannon.com">Cloud Cannon</a>
	</div>
</div>

</body>
</html>
